/* 상단 navbar 컴포넌트 css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 200;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease-in-out;
  transition-duration: 0.5s;
}

/* navar scrollY > 0 이벤트 발생 시 navbar active class toggle */
.navbar.active{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 200;
  padding: 0 4rem;
  display: flex;
  background-color: #fff;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease-in-out;
  transition-duration: 0.5s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}

/*Navbar menu toggle button css */
.navbar .logo {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.logo span{
  display: inline-block;
  width : 60px;
  height : 8px;
  content: '';
  background-color: #fff;
}

.navbar.active .logo span{
  background-color : #000;
}

.logo span:first-child{
  display: inline-block;
  width : 40px;
  height : 8px;
  content: '';
}

.navbar .logo:hover span:first-child{
  display: inline-block;
  width : 60px;
  height : 8px;
  content: '';
  transition-duration: 1s;
}


.navbar .logo:hover span:nth-child(2){
  display: inline-block;
  width : 80px;
  height : 8px;
  content: '';
  transition-duration: 1s;
}

/*Navbar IYOU PROFILE SITE 로고 디자인*/
.navbar .logo-contents{
  position: relative;
  width : 30rem;
  height : 10rem;
}

.navbar.active .logo-contents{
  height : 100%;
}

.logo-contents h1{
  font-size: 8rem;
  letter-spacing: 0.5rem;
  color : #FFF;
  text-align: center;
}

.navbar.active .logo-contents h1{
  font-size: 7rem;
  letter-spacing: 1rem;
  color : #000;
}

.logo-contents p{
  font-size: 1.5rem;
  color : #FFF;
  text-align: center;
  letter-spacing: 0.5rem;
}

/*Navbar scrollY > 0 이벤트 발생 시 텍스트 색 변경*/
.navbar.active .logo-contents p{
  font-size: 1.5rem;
  color : #000;
}

.navbar .logo img {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* 상단 navbar PLAYER 컴포넌트 이동 햄버거 메뉴*/

.navbar .player-button {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 2.5rem;
  z-index: 100;
}

.navbar.active .player-button{
  color : #000;
}

.navbar .player-button .open:hover {
  transform: scale(1.1);
  transition-duration: 1s;
  animation: animated 1s;
  animation-iteration-count: infinite;
}

@keyframes animated {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.navbar .player-button .close {
  position: relative;
  z-index: 100;
  color: #fff;
  font-size: 4rem;
  z-index: 0;
}

/* toggle 되는 Player 컴포넌트 section 전체 영역 */
#music-section {
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 1s all ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* section 배경 */
#music-section .section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#music-section.active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 1s all ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#music-section::before {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/*player 컴포넌트 디자인 */
.c-player {
  display: block;
  width: 250px;
  border-radius: 15px;
  color: #fff;
  padding: 20px;
  z-index: 100;
}

.c-player h1 {
  color: #fff;
  font-weight: bold;
  font-family: var(--font-family-two);
  font-size: 1rem;
  text-align: center;
}

.c-player p {
  color: #fff;
  font-family: var(--font-family-two);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.c-player-details .details-img {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 50px auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
}

.c-player-details .details-img img {
  display: block;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
}

.c-player-details .details-CD {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: 7rem;
}

.c-player-details .details-CD img {
  width: 100%;
  height: 100%;
}

.c-player-details .details-title {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}

.c-player-details .details-artist {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.control .play {
  display: flex;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  background: none;
  padding: 10px;
  margin: 0 10px;
  font-size: 4rem;
  border: none;
  cursor: pointer;
  transform: scale(1);
}

.control .play:hover {
  transform: scale(1.1);
}

.control .skip-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}
.control .skip-button:hover {
  transform: scale(1.1);
}
